/* line 6, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 1, ../src/_vertical_rhythm.sass */
*:focus {
  outline: #ccc dotted medium;
}

/* line 26, ../src/_vertical_rhythm.sass */
body {
  font-size: 187.5%;
  line-height: 1.2em;
}

/* line 30, ../src/_vertical_rhythm.sass */
html>body {
  font-size: 30px;
}

/* line 2, ../src/_s5.sass */
div#header, div#footer, div#controls {
  position: absolute;
}

/* line 6, ../src/_s5.sass */
.slide {
  position: absolute;
}

/* line 12, ../src/_s5.sass */
html>body div#header, html>body div#footer, html>body div#controls {
  position: fixed;
}
/* line 15, ../src/_s5.sass */
html>body .slide {
  position: fixed;
}

/* line 19, ../src/_s5.sass */
.handout, .notes {
  display: none;
}

/* line 23, ../src/_s5.sass */
.layout {
  display: block;
}

/* line 27, ../src/_s5.sass */
.slide, .hideme, .incremental {
  visibility: hidden;
}

/* line 31, ../src/_s5.sass */
#slide0 {
  visibility: visible;
}

/* line 3, ../src/_framing.sass */
.slide {
  width: 100%;
  top: 0;
  left: 0;
}

/* line 9, ../src/_framing.sass */
#footer {
  width: 100%;
  top: auto;
  bottom: 0;
  height: 4em;
  line-height: 4em;
  z-index: 5;
}

/* line 18, ../src/_framing.sass */
.slide {
  top: 0;
  width: 92%;
  padding: 3em 4% 4%;
  z-index: 2;
  list-style: none;
}

/* line 26, ../src/_framing.sass */
div#controls {
  z-index: 100;
}
/* line 29, ../src/_framing.sass */
div#controls form {
  text-align: right;
  width: 100%;
  margin: 0;
}

/* line 35, ../src/_framing.sass */
#currentSlide {
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: 0;
  z-index: 10;
  height: 4em;
  line-height: 4em;
}

/* line 45, ../src/_framing.sass */
html>body #currentSlide {
  position: fixed;
}

/* line 2, ../src/_pretty.sass */
#controls :active {
  color: #88A !important;
}
/* line 5, ../src/_pretty.sass */
#controls :focus {
  outline: 1px dotted #fff;
}

/* line 8, ../src/_pretty.sass */
blockquote, q {
  font-style: italic;
}

/* line 12, ../src/_pretty.sass */
blockquote {
  padding: 0 2em 0.5em;
  margin: 0 1.5em 0.5em;
  text-align: center;
}
/* line 17, ../src/_pretty.sass */
blockquote i {
  font-style: normal;
}
/* line 20, ../src/_pretty.sass */
blockquote b {
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../src/_pretty.sass */
blockquote b i {
  font-style: italic;
}

/* line 30, ../src/_pretty.sass */
a {
  text-decoration: none;
}

/* line 33, ../src/_pretty.sass */
kbd {
  font-weight: bold;
}

/* line 37, ../src/_pretty.sass */
sup {
  font-size: smaller;
  line-height: 1px;
}

/* line 42, ../src/_pretty.sass */
.slide h1 {
  position: static;
  white-space: nowrap;
  text-transform: capitalize;
}
/* line 48, ../src/_pretty.sass */
.slide code.old {
  color: silver;
}
/* line 51, ../src/_pretty.sass */
.slide li:first-child {
  margin-top: 0;
}
/* line 53, ../src/_pretty.sass */
.slide li {
  margin-top: 0.6em;
}
/* line 55, ../src/_pretty.sass */
.slide li.aside {
  margin-top: 0em;
  position: absolute;
  top: 6em;
  right: 2em;
  width: 40%;
}
/* line 62, ../src/_pretty.sass */
.slide li.aside pre {
  overflow: auto;
}
/* line 65, ../src/_pretty.sass */
.slide li.aside.wide {
  width: 60%;
}
/* line 68, ../src/_pretty.sass */
.slide li.wide {
  width: 50%;
}
/* line 70, ../src/_pretty.sass */
.slide li.css {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 0.5em 1em;
}
/* line 74, ../src/_pretty.sass */
.slide li.css h2 {
  position: absolute;
  bottom: -0.25em;
  right: 0.5em;
}
/* line 78, ../src/_pretty.sass */
.slide li li {
  margin-left: 1em;
  margin-top: 0.6em;
}
/* line 82, ../src/_pretty.sass */
.slide img.leader {
  display: block;
  margin: 0 auto;
}

/* line 88, ../src/_pretty.sass */
#footer p {
  display: inline-block;
  width: 20%;
  padding: 1em 4em;
}
/* line 93, ../src/_pretty.sass */
#footer p.event {
  display: inline-block;
  text-align: right;
  width: 50%;
  padding-left: 0;
}

/* line 99, ../src/_pretty.sass */
h1 abbr {
  font-variant: small-caps;
}

/* line 103, ../src/_pretty.sass */
div#controls {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 40%;
  text-align: right;
  font: bold 0.9em Verdana, Helvetica, sans-serif;
}

/* line 112, ../src/_pretty.sass */
html>body div#controls {
  position: fixed;
  padding: 0;
  top: auto;
}

/* line 119, ../src/_pretty.sass */
#controls #navLinks a {
  padding: 0;
  margin: 0 0.5em;
  cursor: pointer;
}

/* line 124, ../src/_pretty.sass */
#currentSlide {
  text-align: center;
}

/* line 128, ../src/_pretty.sass */
#slide0 {
  margin-top: 2.4em;
}
/* line 131, ../src/_pretty.sass */
#slide0 h1 {
  position: static;
  padding: 0;
  white-space: normal;
  background: transparent;
}

/* line 137, ../src/_pretty.sass */
ul.urls {
  list-style: none;
  display: inline;
  margin: 0;
}

/* line 143, ../src/_pretty.sass */
.urls li {
  display: inline;
  margin: 0;
}

/* line 148, ../src/_pretty.sass */
.note {
  display: none;
}

/* line 152, ../src/_pretty.sass */
.incremental {
  visibility: hidden;
}

/* line 157, ../src/_pretty.sass */
img.incremental {
  visibility: hidden;
}

/* line 161, ../src/_pretty.sass */
body {
  background: url(http://s3.amazonaws.com/nimbublips/pat-bkg.png) repeat-x #e8e5cd;
  color: #1b1818;
}

/* line 165, ../src/_pretty.sass */
.aside h2 {
  color: #e8e5cd;
  text-shadow: #a8a594 1px 1px 1px;
}

/* line 168, ../src/_pretty.sass */
a {
  color: #00707B;
}

/* line 171, ../src/_pretty.sass */
code, pre {
  color: #D1586D;
}
/* line 174, ../src/_pretty.sass */
code.bad, pre.bad {
  color: #d1586d;
}

/* line 177, ../src/_pretty.sass */
#footer {
  background: #1b1818;
  color: #e8e5cd;
}

/* line 184, ../src/_pretty.sass */
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

/* line 187, ../src/_pretty.sass */
p {
  line-height: 1.2em;
  margin-bottom: 1.2em;
}

/* line 191, ../src/_pretty.sass */
pre {
  margin-top: 0.6em;
}

/* line 194, ../src/_pretty.sass */
code, pre {
  font-family: Inconsolata, "Helvetica Neue", helvetica, arial, sans-serif;
}

/* line 196, ../src/_pretty.sass */
h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.9em;
}

/* line 200, ../src/_pretty.sass */
h2 {
  font-size: 1.667em;
  line-height: 1.44em;
  margin-top: 0.54em;
  margin-bottom: 0.18em;
}

/* line 205, ../src/_pretty.sass */
h3,
.aside h2 {
  font-size: 1.333em;
  line-height: 1.8em;
  margin-top: 0.675em;
  margin-bottom: 0.225em;
}

/* line 211, ../src/_pretty.sass */
#footer,
#currentSlide,
#controls {
  font-size: 0.5em;
  line-height: 4.8em;
}
