html, body { height: 100%;overflow: hidden; 	color: #111624; }
body { font-family: sans-serif; }
section.party { font-size: 6px; left: 0%; top: 0%; height: 10em; width: 10em; margin: -5em 0 0 -5em; position: relative; }
b { position: absolute; width: 50px; height: 50px; border-radius: 50px; line-height: 50px;  background-color: hsla(302, 31%, 54%, 0.8); color: white; display: block; text-align: center; }

b i { font-size: 12px; font-style: normal; position: absolute; left: 0; right: 0; }

pre {
	padding: 1em 2em;
	margin: 1em auto;
	width: 80%;
	white-space: pre;
	position: relative;
	z-index: 2;
	border-radius:.2em;
	box-shadow:.05em .05em .3em black;
	
	border: 1px solid hsla(258, 28%, 59%, 0.2);
	background: rgba(0,0,0,0.25);

	box-shadow: 0 2px 6px hsla(258, 28%, 59%, 0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.15), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px hsla(258, 28%, 59%, 0.3);
}