/**
  Majorly reappropriated from Lea Verou's CSSS: github.com/LeaVerou/CSSS
	@author Divya Manian
	@version 1.0
 */
 
 
 @font-face {
     font-family: 'NewsCycleRegular';
     src: url('NewsCycle-Regular-webfont.eot');
     src: url('NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('NewsCycle-Regular-webfont.woff') format('woff'),
          url('NewsCycle-Regular-webfont.ttf') format('truetype'),
          url('NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'BebasNeueRegular';
     src: url('BebasNeue-webfont.eot');
     src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
          url('BebasNeue-webfont.woff') format('woff'),
          url('BebasNeue-webfont.ttf') format('truetype'),
          url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
     font-weight: normal;
     font-style: normal;

 }

  
 html, body { overflow: hidden; margin: 0; padding: 0; }
 
 .slide {
 	position:absolute;
 	top:0;
 	left:0;
 	right: 0;
 	bottom: 10%; 	
 	z-index: 0;
 	display: none;
 	font-size:250%;
 	line-height:1.6; 	 	
 	counter-increment: slide;
 }
 
 .slide:target {
 	z-index:100;
  display: block;
 	overflow: visible;
}

ul, ol, li { margin: 0; padding: 0; }
/**
	Slide numbers
 */ 

/* If there's nothing selected, show the first */
.slide:first-child {
	z-index:2;
}

/* Delayed items that are shown incrementally after the slide is */
.slide > ul.delayed > li,
.slide h2,
.slide p {
	opacity: 0;	
	-webkit-transition:.7s opacity;
	-moz-transition:.7s opacity;
	-o-transition:.7s opacity;
	transition:.7s opacity;
}

.slide > ul.delayed > li.displayed {
	opacity: 0;
}

.slide > ul.delayed > li.current,
.slide > ul.delayed > li.displayed.non-dismissable,
.slide:target h2,
.slide:target p {
	opacity: 1;
}


/**
	CSSS Nimbu Theme
	
	@author Divya Manian
	@version 1.0
*/
html { background-color: hsl(266, 17%, 92%); }

body {
	color: #111624;
	font: 150%/1.5 NewsCycleRegular, Arial, sans-serif;	
}

button { padding:.2em .5em; }

a { color: #c92166; text-decoration: none; }
a:hover { color: #3f5f0c; }

code, pre, style {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;	
}

code, pre {
	padding:.2em .2em .1em;
	white-space: nowrap;
	border-radius:.2em;
	box-shadow:.05em .05em .3em black;
	
	border: 1px solid hsla(258, 28%, 59%, 0.2);
	background: rgba(0,0,0,0.25);

	box-shadow: 0 2px 6px hsla(258, 28%, 59%, 0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.15), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px hsla(258, 28%, 59%, 0.3);
}

pre {
  white-space: pre;
}

strong, b {
	font-weight:bold;	
}
.slide ul, .slide ul li { list-style:none; }	
.slide ol { margin-left:2em;	}
		

footer {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 1em;
	padding: .5em 1em;
	font-size: 0.5em;
}

html, body { height: 100%; }
body { background: 99% 99% url(./img/opera-logo.png) no-repeat; background-size: 140px auto;}

#intro,
 .slide > ul > li {
  height: 90%;
  width: 96%;
  padding: 2%;
  display: table;
}

#intro h1,
 .slide > ul li div.content {
	margin: 0 auto;
	width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#intro h1 {   font-size: 3em; }
#intro h1,
.slide h2 {
  font-family: 'BebasNeueRegular', arial, serif;  
  color: hsl(324, 59%, 69%); 
  text-shadow: hsl(254, 51%, 39%) 2px 2px, hsl(254, 51%, 39%) 3px 3px, hsl(254, 51%, 39%) 4px 4px, hsl(254, 51%, 39%) 5px 5px;
  letter-spacing: 1px;    
}

#intro .attribution { text-align: center; }

iframe {
  width: 96%;
  height: 500px;  
  border: 0;
}

#slide-tween .logo {
  box-shadow: 0 0 1em silver;
  padding: 2em;
  margin: 1.5em 0 0 5%;
  line-height: 0; float: left;
}

#slide-tween button {
  background:  #6f3460;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 0;
  box-shadow: 0 0 1em silver;
  border-radius: 5em;
  line-height: 2;
  padding: 0 1em;
  display: inline-block;
}
#slide-tween p { font-size: 0.7em; }

@-webkit-keyframes operalogo-spin {
  to { -webkit-transform: rotate(-2160deg); }
}

@-moz-keyframes operalogo-spin {
  to { -moz-transform: rotate(-2160deg); }
}

.codeexplained { position: relative; }
.codeexplained b { display: none; position: absolute; top: -3em; left: 0; right: 0; border-radius: 10px; background: hsl(26,75%,51%); padding: 0.25em; text-align: center; }
.codeexplained code:hover b { display: block; }

.slide { font-size: 2.5em; }
.slide h2 { font-size: 150%; padding-left: 1em; position: absolute; top: -0.75em; left: 0; right: 0; }
.slide h3, #slide44 h3 { margin-bottom: 4em; margin-top: -4em; text-transform: uppercase; } 
.slide li h3 { margin-top: 1em; margin-bottom: 0; }
.slide li p { margin-left: 0; }
.slide.list li { text-align: left; margin-bottom: 1em; }

.slide > ul > li { position: absolute; top: 0; left: 0; right: 0; left: 0; }

.slide .sidebyside { float: left; width: 50%; font-size: 0.8em;}

.slide > ul.delayed > li.current,
.slide h2 { opacity: 1; }
.slide > ul > li li { border-bottom: 1px dotted hsl(302, 31%, 54%); padding: 0.5em 0; }

.syntaxhighlighter code { box-shadow: none; border-radius: 0; }

.graphs b { display: inline-block; width: 5em; }

/* CODE SLIDES */
.slide.code { background: white; color: silver; }
#slide4 .syntaxhighlighter { -webkit-transform: scale(0.50); -webkit-transform-origin: 0 0; }

.slide.code h2 { color: tan; }


/* Slide Backgrounds */
.slide { 
background-color: hsl(266, 17%, 92%); }


.slide ul.multicol li { width: 48%; display: inline-block; border-bottom: 0; }
.slide ul.multicol li img { vertical-align: middle; margin: 0 0.5em 0 0; box-shadow: 0 0 0.5em #666; }