/**
  Majorly reappropriated from Lea Verou's CSSS: github.com/LeaVerou/CSSS
	@author Divya Manian
	@version 1.0
 */
 
 
 @font-face {
     font-family: 'PacificoRegular';
     src: url('Pacifico-webfont.eot');
     src: url('Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
          url('Pacifico-webfont.woff') format('woff'),
          url('Pacifico-webfont.ttf') format('truetype'),
          url('Pacifico-webfont.svg#PacificoRegular') format('svg');
     font-weight: normal;
     font-style: normal;

 }
  
 html, body { overflow: hidden; margin: 0; padding: 0; }
 
 .slide {
 	position:absolute;
 	top:0;
 	left:0;
 	right: 0;
 	bottom: 0; 	
 	z-index: 0;
 	display: none;
 	font-size:250%;
 	line-height:1.6; 	 	
 	counter-increment: slide;
 }
 
 .slide:target {
 	z-index:100;
  display: block;
 	overflow: visible;
}

/**
	Slide numbers
 */ 

/* If there's nothing selected, show the first */
.slide:first-child {
	z-index:2;
}

/* Delayed items that are shown incrementally after the slide is */
.slide > ul.delayed > li,
.slide h2,
.slide p {
	opacity: 0;	
	-webkit-transition:.7s opacity;
	-moz-transition:.7s opacity;
	-o-transition:.7s opacity;
	transition:.7s opacity;
}

.slide > ul.delayed > li.displayed {
	opacity: 0;
}

.slide > ul.delayed > li.current,
.slide > ul.delayed > li.displayed.non-dismissable,
.slide:target h2,
.slide:target p {
	opacity: 1;
}


/**
	CSSS Nimbu Theme
	
	@author Divya Manian
	@version 1.0
*/
html { background-color: #000; }

body {
	background:black;
	color: #fff;
	font: 150%/1.5 Helvetica, Arial, sans-serif;	
}

button { padding:.2em .5em; }

a { color: skyblue; text-decoration: none; }
a:hover { color: hsl(26,75%,51%); }

code, pre, style {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;	
}

code {
	padding:.2em .2em .1em;
	white-space: nowrap;
	border-radius:.2em;
	box-shadow:.05em .05em .3em black;
	
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.25);

	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.15), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

strong, b {
	font-weight:bold;	
}
.slide ul, .slide ul li { list-style:none; }	
.slide ol { margin-left:2em;	}
		

footer {
	color: white;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 1em;
	padding: .5em 1em;
	font-size: 0.5em;
	text-shadow: .05em .05em .1em black;
}

html, body { height: 100%; }
body { background: 99% 99% url(./img/opera-logo.png) no-repeat; background-size: 140px auto;}

#intro,
 .slide > ul > li {
  height: 100%;
  width: 100%;
  padding: 0;
  display: table;
}

#intro h1,
 .slide > ul li div.content {
	margin: 0 auto;
	width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#intro h1 {   font-size: 3em; }
#intro h1,
.slide h2 {
  font-family: 'PacificoRegular', arial, serif;  
  color: #fff;
  text-shadow: hsl(26,75%,51%) 1px 1px, hsl(26,75%,51%) 2px 2px, hsl(26,75%,51%) 3px 3px, hsl(26,75%,51%) 4px 4px, hsl(26,75%,51%) 5px 5px, hsl(26,75%,51%) 6px 6px, hsl(26,75%,51%) 7px 7px, hsl(26,75%,51%) 8px 8px, hsl(26,75%,51%) 9px 9px;  
}

#intro .attribution { text-align: center; }

iframe {
  width: 96%;
  height: 500px;  
  border: 0;
}

#slide-tween .logo {
  box-shadow: 0 0 1em silver;
  padding: 2em;
  margin: 1.5em 0 0 5%;
  line-height: 0; float: left;
}

#slide-tween button {
  background: red;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 0;
  box-shadow: 0 0 1em silver;
  border-radius: 5em;
  line-height: 2;
  padding: 0 1em;
  display: inline-block;
}
#slide-tween p { font-size: 0.7em; }

@-webkit-keyframes operalogo-spin {
  to { -webkit-transform: rotate(-2160deg); }
}

@-moz-keyframes operalogo-spin {
  to { -moz-transform: rotate(-2160deg); }
}

.codeexplained { position: relative; }
.codeexplained b { display: none; position: absolute; top: -3em; left: 0; right: 0; border-radius: 10px; background: hsl(26,75%,51%); padding: 0.25em; text-align: center; }
.codeexplained code:hover b { display: block; }

.slide { font-size: 1.2em; }
.slide h2 { font-size: 200%; padding-left: 1em; position: absolute; top: 0; left: 0; right: 0; }
.slide h3, #slide44 h3 { margin-bottom: 3em; margin-top: -3em; text-transform: uppercase; } 
.slide li h3 { margin-top: 1em; margin-bottom: 0; }
.slide li p { margin-left: 0; }
.slide.list li { text-align: left; margin-bottom: 1em; }

.slide > ul > li { position: absolute; top: 0; left: 0; right: 0; left: 0; }

.slide .sidebyside { float: left; width: 50%; font-size: 0.8em;}

.slide > ul.delayed > li.current,
.slide h2 { opacity: 1; }
.slide > ul > li li { border-bottom: 1px dotted white; padding: 0.5em 0; }

.syntaxhighlighter code { box-shadow: none; border-radius: 0; }

.graphs b { display: inline-block; width: 5em; }

/* CODE SLIDES */
.slide.code { background: white; color: silver; }
#slide4 .syntaxhighlighter { -webkit-transform: scale(0.50); -webkit-transform-origin: 0 0; }

.slide.code h2 { color: tan; }


/* Slide Backgrounds */
.slide:not(.code) { 
  background:
    -o-radial-gradient(black 15%, transparent 16%) 0 0,
    -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    
  background:
    -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
    -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  
  background:
    -moz-radial-gradient(black 15%, transparent 16%) 0 0,
    -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;  

  background:
    -ms-radial-gradient(black 15%, transparent 16%) 0 0,
    -ms-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;  

  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;  


background-color:#282828;
background-size:16px 16px; }


.slide ul.multicol li { width: 48%; display: inline-block; border-bottom: 0; }
.slide ul.multicol li img { vertical-align: middle; margin: 0 0.5em 0 0; box-shadow: 0 0 0.5em #666; }