@import "compass/css3/font-face";
@import "compass/css3/gradient";

@font-face {
    font-family: 'NewsCycleRegular';
    src: url('../../NewsCycle-Regular-webfont.eot');
    src: url('../../NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../NewsCycle-Regular-webfont.woff') format('woff'),
         url('../../NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../../NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../../BebasNeue-webfont.eot');
    src: url('../../BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../BebasNeue-webfont.woff') format('woff'),
         url('../../BebasNeue-webfont.ttf') format('truetype'),
         url('../../BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	font: 150%/1.5 NewsCycleRegular, Arial, sans-serif;	
	text-align: center;
}

nav {
  font-family: 'BebasNeueRegular', arial, serif;    
}

iframe { width: 99%; border: 0; overflow: hidden; }
.iframe h2 { font-size: 1em; }

@media (max-width: 480px) {
  body {
    @include linear-gradient(rgb(205, 92, 92), red);
    height: 100%;
  }
}