/**
 * @author Hakim El Hattab
 */


/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@font-face {
	font-family: 'League Gothic';
	src: url('../assets/fonts/leaguegothic/league_gothic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html {	
	font: 36px 'Helvetica Neue', helvetica, sans-serif;
	
	background: #444;
	color: #fff;
	
	width: 100%;
	height: 100%;
	
}


/*********************************************
 * HEADERS
 *********************************************/
h1, h2, h3, h4 {
	margin: 0 0 20px 0;
	font-family: 'League Gothic', Arial, Helvetica, sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 0px 2px #444, 0px 0px 4px #000;
}

h1 { font-size: 136px; 	}
h2 { font-size: 76px;	margin-bottom: 0.5em;}
h3 { font-size: 56px;	}
h4 { font-size: 36px;	}

h3 { color: khaki; }

/*********************************************
 * SLIDES
 *********************************************/
#main {
	text-align: center;	
}


/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

#main>section {  
	line-height: 1.2em;
	text-shadow: 1px 1px 2px #000;
	width: 800px;
	height: 800px;
	position: relative;
  left: 50%;
  margin-left: -400px;
	height: 100%;
	margin-left: -400px;
	padding: 5em 0;
}

section > section { margin-bottom: 1em; }
ol {
	list-style: decimal;
	list-style-position: inside;
}

ul { text-align: left; }
li, p {
	margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

  p + h3 { margin-top: 40px; }

a {
	color: khaki;
	text-decoration: none;
	padding: 1px 3px;
}
	
	a:hover {
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 0.15em;
		text-shadow: none;
	}

img.center {
	display: block;	
	-webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
	        box-shadow: 0 0 10px rgb(0, 0, 0);
}

img.opera { height: 1.4em; vertical-align: -8px; }


p.thanks { font-size: 0.6em; margin-top: 3em; }

ul { margin: 2em 0; }




